**/*.class
**/hmc/bin
**/beans.xsd
**/items.xsd
**/extensioninfo.xsd
**/hmc.xsd
**/gensrc
**/classes
**/.checkstyle
**/.ruleset
**/platformhome.properties
**/web/testclasses
**/eclipsebin
**/.metadata
core-customize/hybris/bin/modules/*
core-customize/hybris/bin/platform/*
core-customize/hybris/config/local.properties
core-customize/hybris/config/local.properties.localdev
core-customize/hybris/data/*
core-customize/hybris/log/*
core-customize/hybris/temp/*
core-customize/hybris/config/solr/*
.idea/
idea-module-files/
#**/theme-*/css/style.css
**/*testclasses.xml
**/generated_coredata
**/generated_sampledata
**/addonsrc
**/addontestsrc
**/web/commonwebsrc
**/_ui/addons
**/messages/addons
**/tags/addons
**/tld/addons
**/views/addons
core-customize/hybris/bin/custom/**/**/platformhome.properties
core-customize/hybris/bin/custom/**/**/**/**/*testclasses.xml
core-customize/hybris/bin/custom/**/**/**/testclasses
core-customize/hybris/bin/custom/**/**/**/**/**/classes
core-customize/hybris/bin/custom/**/**/classes
core-customize/hybris/bin/custom/**/**/gensrc
core-customize/hybris/bin/custom/**/**/hmc/bin
core-customize/hybris/bin/custom/**/**/hmc/classes
core-customize/hybris/bin/custom/**/**/**/addonsrc
core-customize/hybris/bin/custom/**/**/web/commonwebsrc
core-customize/hybris/bin/custom/**/**/**/**/**/messages/addons
core-customize/hybris/bin/custom/**/**/**/**/**/tags/addons
core-customize/hybris/bin/custom/**/**/**/**/**/tld/addons
core-customize/hybris/bin/custom/**/**/**/**/**/views/addons
core-customize/hybris/bin/custom/**/**/**/**/_ui/addons
core-customize/hybris/bin/custom/**/**/build.xml
core-customize/hybris/bin/custom/**/**/extensioninfo.xsd
core-customize/hybris/bin/custom/**/**/resources/items.xsd
core-customize/hybris/bin/custom/**/**/resources/beans.xsd
core-customize/hybris/bin/custom/**/**/hmc/resources/hmc.xsd
core-customize/hybris/config/hybris4intellij.properties

# ignore generated folders and files
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/WEB-INF/_ui-src/addons/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/cockpit/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/cscockpit/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/cmscockpit/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/productcockpit/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/node_modules
core-customize/hybris/bin/custom/multicountry/multicountry/web/webroot/cockpit/
core-customize/hybris/bin/custom/multicountry/multicountry/web/webroot/cscockpit/
core-customize/hybris/bin/custom/multicountry/multicountry/web/webroot/cmscockpit/
core-customize/hybris/bin/custom/multicountry/multicountry/web/webroot/productcockpit/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/resources/wro_addons.xml
core-customize/hybris/bin/custom/eluxb2c/eluxb2cbackoffice/resources/backoffice/eluxb2cbackoffice_bof.jar
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/node_modules/
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/.sass-cache/
core-customize/hybris/bin/custom/**/**/adyenv6b2ccheckoutaddon/project.properties
core-customize/hybris/bin/custom/**/**/eluxb2cassistedservicestorefront/project.properties
core-customize/hybris/bin/custom/**/**/eluxb2ccustomeranonymousticketing/project.properties
core-customize/hybris/bin/custom/**/**/eluxb2cgigyaloginaddon/project.properties

datahub/*/*/target
datahub/workspace
datahub/settings
datahub/tomcat/webapps
datahub/logs
datahub/tomcat/logs
datahub/tomcat/work
datahub/tomcat/temp

# DON'T TOUCH
#
#

velocity.log
*.iws
*.eml
*.swp
source/
hybrisTools/target/
velocity.log

**/*.iml

*.bak
.DS_Store

.idea/workspace.xml

/core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/node_modules/**
/core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/.sass-cache/**
*.orig
/tomcatExtensions/build
/tomcatExtensions/dist
/tomcatExtensions/out

# ignore solr config folder
solrConfig/

**/rebel.xml
.lastupdate
ruleset.xml
core-customize/hybris/bin/custom/eluxb2c/eluxb2cocc/.classpath
core-customize/hybris/config/licence/installedSaplicenses.properties
core-customize/build-tools/*
core-customize/hybris/bin/ext-integration/*
core-customize/installer/*
core-customize/licenses/*
core-customize/hybris/bin/custom/eluxb2c/eluxb2ccore/src/de/hybris/platform/acceleratorcms/jalo/*
core-customize/hybris-sbg/*
core-customize/hybris/bin/custom/eluxb2c/eluxb2ccore/src/com/electrolux/b2c/core/jalo/*
core-customize/hybris/bin/custom/eluxb2c/eluxb2cstorefront/web/webroot/WEB-INF/lib/jsoup-1.16.2.jar
